.App {
  text-align: center;
}

.Navbar{
  position: fixed;
  left: 0;
  bottom: 0;
  /* width: 300px; */
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

.images img{
  margin: 100px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

nav{
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

